source_files_dir = "/media/usb1/retrosnap/original_files"
output_files_dir = "/media/usb1/retrosnap/processed_crop"
failed_timestamp_extracts_dir = "/media/usb1/retrosnap/failed_timestamps"
aspect_ratio = "4:3"
resize_method = "crop"
